#body{
    padding: 20px;
    /* border-style: dashed; */
    margin: 0;
    font-size: 3em;
}
.header{
    background-color:lightsalmon;
    margin: 0;
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 50px;
    font-size: 3em;
    
}
.nav{
    background-color: lightsalmon;
    padding: 10px;
    margin-top: 20px;
    
}
span{
    font-size: 2em;
}

#button1{
    width: 100px;
    height: 30px;
    margin-left: 3%;
}
button{
    margin-left: 20px;
    width: 100px;
    height: 30px;
}
article{
    background-color:deepskyblue;
    max-width: 100vh;
    height: 600px;
}
#ar{
    margin-top: 20px;
    padding: 20px;
   font-size: 3em;
}
section{
    margin: 30px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    height: 50px;
    background-color: rgb(248, 246, 245 ,0.6)
}
.section{
    font-size: 1.5em;
}
aside{
    width: 20vh;
    background-color: rgb(200,200,200);
    margin-left: 20px; 
}
.article{
    display: flex;
    margin-top:20px ;
    margin-bottom: 20px;
}
article,aside{
    flex:auto
}
#aside{
    text-align: center;
    font-size: 3em;
    margin-bottom: 60px;
}
.aside{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 43px;
    height: 5vw;
    background-color: rgb(248, 246, 245 ,0.6);
}
footer{
    background-color: lightsalmon;
    height: 70px;
}
#footer{
    padding: 20px;
    font-size: 2em;
}